/* Other rules */
:root {
  --black: #000;
  --lightGreen: #2cb1ba;
}
a {
  color: var(--black);
  text-decoration: none;
}
.offer-infos a {
  color: white;
}
h1 {
  font-size: 50px;
}

.button-header {
  height: 50px;
  margin: 50px;
}
button {
  margin: 50px 10px 0 0;
  outline: none;
  cursor: pointer;
  height: 50px;
}
input {
  height: 46px;
  margin-right: 20px;
  width: 250px;
  outline: none;
}

.image-accueil {
  width: 100%;

  /*clip part permets de faire des formes dans l'élément
  la 1 chiffre correspond a l'axe des X sois horizontal
  le deuxieme chiffre correspond à l'axe des y sois la vertical
  autant de points que de formes voulues */
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    92% 94%,
    87% 98%,
    78% 96%,
    73% 100%,
    65% 96%,
    47% 100%,
    0% 100%
  );
}
/* HEADER*/

.header {
  max-width: 1280px;
  display: flex;
}
.header div {
  margin-left: 50px;
}
.header button {
  border: 1px solid var(--lightGreen);
  color: var(--lightGreen);
  background-color: white;
}

.header-button input {
  border: 1px solid var(--lightGreen);
  color: lightgray;
}
.header a {
  color: var(--lightGreen);
}

/*****************************************/

.card-offer {
  width: 235px;
  margin-bottom: 30px;
}
.card-offer span {
  color: grey;
}
.card-offer img {
  width: 230px;
}

/*AVATAR*/
.card-avatar img,
.offer-infos > img {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
/*CONTAINER*/
.offer-container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: flex-start;
  padding: 30px;
}
.payment {
  max-width: 1280px;
  margin: 30px auto auto;
}
.card-wrapper,
.intro,
.container-form,
.container-forms {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
}
.card-wrapper {
  justify-content: center;
}
/**************************************/
.offer-infos {
  border: 1px grey solid;
  padding: 15px;
}
/*FORM*/
.container-form,
.container-forms {
  justify-content: center;
}
.container-forms {
  background-color: #ebedee;
}
.formSell {
  width: 50%;
}
.forms input {
  height: 40px;
  border: none;
  border-bottom: 1px solid var(--lightGreen);
}
.forms button,
.formSell button,
.offer-infos button,
.CheckOutForm {
  background-color: var(--lightGreen);
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  height: 45px;
  width: 100%;
}
/**************formulaire publish***********************/
.picture {
  width: 98%;
  border: 1px dotted grey;
  height: 60px;
  padding: 25px 0 0 15px;
}

.textDetail,
.detail,
.price,
.picture {
  /* border: 1px solid red; */
  margin-top: 40px;
  background-color: white;
}

.title {
  border-bottom: 1px solid grey;
}
.textDetail textarea {
  /*permets d eviter la possibilité d agrandissement du texterea*/
  resize: none;
}
.textDetail textarea,
.textDetail input,
.detail input,
.price input {
  height: 40px;
  width: 300px;
  /*outline permets de retirer la bordure bleu*/
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  font-family: inherit;
  margin-right: 30px;
}
.texterea,
.title,
.city,
.price {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
