/* Other rules */
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 50px;
  color: #00bfff;
}

.button-header {
  height: 50px;
  margin: 50px;
}
button {
  margin: 50px 10px 0 0;
  outline: none;
  cursor: pointer;
  height: 50px;
}
input {
  margin-right: 20px;
  width: 250px;
  outline: none;
}
textarea {
  margin-top: 20px;
  outline: none;
}

/*HEADER*/

.header {
  display: flex;
}
.header div {
  margin-left: 50px;
}
.header button {
  border: 1px solid rgb(44, 177, 186);
  color: rgb(44, 177, 186);
  background-color: white;
}

.header-button input {
  border: 1px solid rgb(44, 177, 186);
  color: lightgray;
}
.header a {
  color: rgb(44, 177, 186);
}

/*******************************************/

.card-offer {
  width: 235px;
  margin-bottom: 30px;
}
.card-offer span {
  color: grey;
}
.card-offer img {
  width: 230px;
}

/*AVATAR*/
.card-avatar img,
.offer-infos > img {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
/*CONTAINER*/
.offer-container {
  width: 1280px;
  display: flex;
  justify-content: flex-start;
  padding: 30px;
}
.card-wrapper {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
}
/**************************************/
.offer-infos {
  border: 1px grey solid;
  padding: 15px;
}
/*FORM*/
.container-form {
  display: flex;
  justify-content: center;
}

form input {
  height: 40px;
  border: none;
  border-bottom: 1px solid #fcced3;
}
form button {
  background-color: #2cb1ba;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  height: 45px;
  width: 100%;
}
.picture {
  border-bottom: none;
}
